.modalContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modalContainer .modal {
    width: 30vw;
    height: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  }
  .modalContainer .modal_header {
    position: relative;
    border-bottom: 1px solid #dddddd;
  }
  .modalContainer .modal_header-title {
    text-align: center;
  }
  .modalContainer .modal_header .close {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
  }
  .modalContainer .modal_header .close img {
    width: 1rem;
    height: auto;
    transition: all 0.3s;
  }
  .modalContainer .modal_header .close:hover img {
    transform: scale(1.1);
  }
  .modalContainer .modal_content {
    border-bottom: 1px solid #dddddd;
    padding: 2rem 0;
  }
  .modalContainer .modal_footer {
    padding: 2rem 0;
    padding-bottom: 0;
  }
  .modalContainer .modal_footer button {
    float: right;
    padding: 0.5rem;
    border-radius: 8px;
  }
  .modalContainer .modal_footer .modal-close {
    background-color: transparent;
    border: none;
    font-weight: 600;
  }
  .modalContainer .modal_footer .modal-close:hover {
    color: rgba(54, 67, 72, 0.8);
  }
  .modalContainer .modal_footer .submit {
    margin-right: 1rem;
    background-color: #364348;
    color: #fff;
  }
  .modalContainer .modal_footer .submit:hover {
    background-color: rgba(54, 67, 72, 0.8);
  }
  